


<h2>Recipient Treemap</h2>
Select year:
<select id="year-select">
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
</select>

<div id="loading">
	<img src="assets/ajaxloader.gif"/>
	<div id="recipient-treemap">
		

	</div>
<div>Find filtered proposal data below:</div>
	<div id="organization-type-table"></div>
</div>