Select aging:
<select id="aging-type">
	<option value="Recommendation to Award">Recommendation to Award</option>
	<option value="Specialist to Award">Specialist to Award</option>
	<option value="Submission to Award">Submission to Award</option>
</select>

<div id="loading">
	<img src="assets/ajaxloader.gif"/>
	<div id="daysToAwardChart">
	<h4>Days to Award</h4>
	</div>

	<div id="fiscalYearChart">
	<h4>Fiscal Year</h4>
	</div>

	<div id="programAreaChart">
	<h4>Program Area</h4>
	</div>
	
	<div id="programChart">
	<h4>Program</h4>
	</div>
	

</div>