<h1><%= params[:controller] %></h1>
Select aging:
<select id="year-select">
	<option value="Recommendation to Award">Recommendation to Award</option>
	<option value="Specialist to Award">Specialist to Award</option>
	<option value="Submission to Award">Submission to Award</option>
</select>

<div id="loading">
	<img src="assets/ajaxloader.gif"/>
	<div id="daysToAwardChart">
	</div>

	<div id="fiscalYear">
	</div>

	<div id="programArea">
	</div>
	
	<div id="program">
	</div>
	

</div>