<div class="row">
	<div class="small-12 columns">
		<h1>Demo#index</h1>
		<p>Currently using this page to test that assets are loading correctly. Below is an example of the <a href="http://foundation.zurb.com/docs/components/grid.html">foundation grid</a> which will help us with layout.  Fontawesome 4.1.0 has also been loaded <i class="fa fa-thumbs-o-up"></i>, see the <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/">4.3.0 cheatsheet</a> for an idea of icons that are available.</p>
	</div>
</div>
<div class="foundation-example">
	<div class="row">
	  <div class="small-2 large-4 columns">.small-2 large-4 columns</div>
	  <div class="small-4 large-4 columns">.small-4 large-4 columns</div>
	  <div class="small-6 large-4 columns">.small-6 large-4 columns</div>
	</div>
	<div class="row">
	  <div class="large-3 columns">.large-3 columns</div>
	  <div class="large-6 columns">.large-6 columns</div>
	  <div class="large-3 columns">.large-3 columns</div>
	</div>
	<div class="row">
	  <div class="small-6 large-2 columns">.small-6 large-2 columns</div>
	  <div class="small-6 large-8 columns">.small-6 large-8 columns</div>
	  <div class="small-12 large-2 columns">.small-12 large-2 columns</div>
	</div>
	<div class="row">
	  <div class="small-3 columns">.small-3 columns</div>
	  <div class="small-9 columns">.small-9 columns</div>
	</div>
	<div class="row">
	  <div class="large-4 columns">.large-4 columns</div>
	  <div class="large-8 columns">.large-8 columns</div>
	</div>
	<div class="row">
	  <div class="small-6 large-5 columns">.small-6 large-5 columns</div>
	  <div class="small-6 large-7 columns">.small-6 large-7 columns</div>
	</div>
	<div class="row">
	  <div class="large-6 columns">.large-6 columns</div>
	  <div class="large-6 columns">.large-6 columns</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="app-entry-point">
		</div>
	</div>
</div>
