<!-- moved to application.html h1><%= params[:controller] %></h1-->
<div class="row large-tiles">
	<div class="columns small-12 medium-6 xlarge-3">
		<a href="javascript:void(0);"><i class="fa fa-file-text-o"></i><span>Link Title</span></a>
	</div>
	<div class="columns small-12 medium-6 xlarge-3">
		<a href="javascript:void(0);"><i class="fa fa-rocket"></i><span>Link Title</span></a>
	</div>
	<div class="columns small-6 xlarge-3">
		<a href="javascript:void(0);"><i class="fa fa-signal"></i><span>Link Title</span></a>
	</div>
	<div class="columns small-6 xlarge-3">
		<a href="javascript:void(0);"><i class="fa fa-tachometer"></i><span>Link Title</span></a>
	</div>
</div>