// Place all the styles related to the 18f controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$fa-font-path:"//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts" !default; // for referencing Bootstrap CDN font files directly

@import "settings",
        "../../../node_modules/zurb-foundation/scss/foundation/components/grid",
        "../../../node_modules/zurb-foundation/scss/foundation/components/visibility",
        "../../../node_modules/zurb-foundation/scss/foundation/components/offcanvas",
        "../../../node_modules/font-awesome/scss/font-awesome";


/* LOADING BAR */
#loading.loaded img {
    display: none;
}
#loading.loaded div {
    display: block;
}
#loading img {
    display: block;
}
#loading div {
    display: none;
}

#loading.load-in-content {
	position: absolute;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;

	&.loaded {top:-150%;}

	img {
		width: auto;
		display: inline-block;
		margin-top: 280px;
	}
}
/* LOADING BAR */

.page-select { //common top level select component with label
	margin: 7px 0 1px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;

	label {
		float: left;
		margin-right: 8px;
	}

	span {
		overflow: hidden;
		display: block;
		padding: 0 1px;
	}

	select {
		font-size: 16px;
	}
}


/* Organization Type Table */

#organization-type-table {
    position:relative;
    width:100%;
    margin-top: 30px;
    table.dc-datatable {
        margin: 15px 0;
        width: 100%;

        th, td {
            font-size: 14px;
            line-height: 16px;
            vertical-align: top;
            text-align: left;
            padding: 5px 5px;
        }
        th a {
            color:#222;

            .dynatable-arrow {
                color: #666;
                display: inline-block;
                font-size: 11px;
                margin-left: 3px;
            }
        }
    }

    .dynatable-search {

        position: absolute;
        top: -28px;
        right: 5px;
        font-size: 11px;
        width: 50%;
        padding-left: 45px;
        text-indent: -45px;
        text-shadow: 0 -1px 0 rgba(255,255,255, 0.6);

        input {
            width: 100%;
            float: right;
            border-radius: 3px;
            padding: 4px 4px 4px 2px;
            border: 1px solid #aaa;
            margin-top: 1px;
            outline:0;

            &:focus {border-color:#336799;outline:0;box-shadow:0 0 3px rgba(53, 104, 147, 0.6);}
        }
    }

    .dynatable-per-page {
        position: absolute;
        top: -30px;
        left: 5px;

        span {
            float: right;
            margin-left: 3px;
            margin-top:2px;
            font-size: 11px;
            text-shadow: 0 -1px 0 rgba(255,255,255, 0.6);
        }


        select {width:64px;}
    }

    .dynatable-record-count {
        font-size: 11px;
        text-transform: lowercase;
        position: absolute;
        bottom: -32px;
        left: 6px;
        color: #666;
        text-shadow: 0 -1px 0 rgba(255,255,255, 0.6);
    }

    ul.dynatable-pagination-links {
        margin: 0 5px 0 0;
        list-style-type: none;
        position: absolute;
        bottom: -37px;
        padding: 0;
        right: 5px;

        li {
            float:left;

            &:first-child span {
                font-size: 11px;
                text-shadow: 0 -1px 0 rgba(255,255,255, 0.6);
                position: relative;
                top: 2px;
            }
        }


        a.dynatable-page-link {
            padding: 3px 3px;
            display: block;
            margin: 0 2px;
            color: #336799;
            text-decoration: underline;
            font-size:14px;

            &.dynatable-active-page {text-decoration:none;font-weight:bold;color:#222;}

        }
        a.dynatable-page-prev,
        a.dynatable-page-next {
            background-color:#f6f6f6;
            border: 2px solid rgba(53, 104, 147, 0.6);
            border-radius: 3px;
            padding: 2px 6px;
            display: block;
            text-decoration:none;
            margin-left:5px;

            .fa {
                color:#bbb;
            }

            &:hover {
                background-color:#fff;

                .fa {
                    color: #336799;
                }
            }

            &.dynatable-disabled-page {
                color:#bbb;
                background-color:#f7f7f7;
                border-color:#e0e0e0;
                box-shadow:none;
                text-decoration: none;
                cursor: default;

                .fa,
                &:hover .fa {color:#e0e0e0;}
            }
        }
        a.dynatable-page-prev {margin-right:5px;}

    }

}
/* Organization Type Table */ 

/**/

$link-color: #0a5691;
$link-color-hover: #297cbd;

.page-title {
	font-size:2em;
}
.large-tiles {
	margin-bottom: 1.5em !important;

	a {
		color:$link-color;

		border: 1px solid rgba(0, 0, 0, 0.1);
		box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
		background-color: #eee;
		width: 100%;
		height: 11em;
		display: block;
		text-align: center;
		margin: 1em 0 .5em 0;
		position: relative;
		top: 0;
		left: 0;

		-ms-transition: all 89ms ease-in; /* IE10 is actually unprefixed */
        transition: all 89ms ease-in 0;

		i {
			font-size: 6em;
			margin-top: .25em;
			text-shadow: 0px 0px 1px $link-color-hover;
		}
		span {
			display: block;
			font-style: italic;
			color: #555;
			text-shadow: 0 -1px 1px rgba(255,255,255,1);
			margin-top:.5em;
		}
		&:focus {border-color:$link-color;}
		&:active {border-color:$link-color;}

		&:hover,
		&:focus,
		&:active {
			background-color:#ebebeb;
			box-shadow: 1px 1px 1px 0 rgba(120, 120, 120, 0.1);
			top:1px;
			left:1px;
			color:#000;

			i {color:$link-color-hover;}
			span {display: block;}
		}
	}

}







.hide-visually {
	position: absolute !important;
	left: -999999px !important;
	top: auto !important;
	overflow: hidden !important;
	height: 1px !important;
	width: 1px !important;
}

.skip-link {
	top:-35px;
	left:50%;
	position: absolute;
	margin-left:-60px;
	background: rgba(0,0,0,0.9);
	color: #fff !important;
	display: block;
	padding: 1px 10px 2px 10px;
	text-decoration: none;
	border-radius: 0 0 5px 5px;
	z-index: 1;
	font-size: 12px;
}
.allow-focus.skip-link:focus {top:0;}

.row {max-width: 100%;}

.row-title {
	background-color: #eee;
	border-bottom: 1px solid #ccc;

	h1 {
		font-size: 1em;
		text-transform: uppercase;
		line-height: 2.2em;
		margin: 0;
	}
}
.row-content {
	background-color:#fff;

	a {
		color:$link-color;

		&:hover,
		&:focus,
		&:active {
			color:$link-color-hover;
		}
	}
}

/*off-canvas fullscreen layout*/
.off-canvas-wrap {background-color:#fff;overflow-y:auto;}
.off-canvas-wrap.move-left {background-color:#666;}
.off-canvas-wrap .right-off-canvas-menu {display:none;}

a.right-off-canvas-toggle {
	background: none repeat scroll 0 0 transparent;
	box-shadow: none;
	height: 32px;
	position: absolute;
	width: 44px;
	transition: margin 380ms ease 0s;
	top: 0;
	right: 0;
	text-indent: -1000px;
	overflow: hidden;
	pointer-events: auto;
	padding-left: 5px;
	z-index: 10000000;
	padding-right: 0.9375rem;

    span {
        background: none repeat scroll 0 0 #666;
        border: 2px solid #515151;
        border-radius: 5px;
        display: block;
        height: 1px;
        position: relative;
        text-indent: -1000px;
        width: 25px;
        top:-10px;

        &:before,
        &:after {
            position:absolute;
            top:-9px;
            left:-2px;
            content:" ";
            background-color:#666;
            border:2px solid #515151;
            border-radius:5px;
            display:block;
            height:1px;
            width:25px;
        }

        &:after {top:5px;}
    }
}
.move-left a.right-off-canvas-toggle {right:-.3425rem;}

.off-canvas-fullscreen .off-canvas-wrap,
.off-canvas-fullscreen .inner-wrap {
 	height: auto;
	}
.canvas-content {
	background-color:#fff;
	box-shadow: 2px 0 1px rgba(0, 0, 0, 0.3);
	padding-bottom: 2px;
	height: 100%;
	min-height: 100vh;
	z-index: 1002;
}

.exit-off-canvas {display:none;}

.move-left .exit-off-canvas {
	background: none;
	box-shadow: none;
	height: 100%;
	left: auto;
	right: 0;
	width: 100%;
	}
.off-canvas-wrap .right-off-canvas-menu {display:block;}

.move-left > .inner-wrap {
	-ms-transform: translate(-90%, 0);
	-webkit-transform: translate3d(-90%, 0, 0);
	-moz-transform: translate3d(-90%, 0, 0);
	-ms-transform: translate3d(-90%, 0, 0);
	-o-transform: translate3d(-90%, 0, 0);
	transform: translate3d(-90%, 0, 0);
	}

.right-off-canvas-menu {
	background-color: #666;
	padding: 12px 0 10px 0;
	right: -10%;
	transform: translate3d(90%, 0px, 0px);
	width: 87%;

	.off-canvas-menu-container {
		background-color: #fff;
		padding: 10px 8px 20px;
		margin: 0px 14px;

		h2 {
			text-indent: -10000px;
			height: auto;
			margin: 0;

			span {display: none;}

			img {float:left;width:96%;}
		}

		& > ul {
			list-style-type: none;
			margin: 6px 0 0 0;
			padding: 15px 0 0 0;
			max-width: 540px;
			border-top: 1px solid #eee;
		}
		a {
			color:$link-color;

			&:hover,
			&:focus,
			&:active {
				color:$link-color-hover;
			}
		}
	}
}
@media only screen and (min-width: 46.13em) {
	/* home page */
	.large-tiles {
		a {
			height: 18em;
			
			i {
				font-size: 11em;
			}
		}
	}


	/* offcanvas styles */
	.move-left a.right-off-canvas-toggle {right:0;}

	.right-off-canvas-menu {
		-ms-transform: translate(76.2%, 0);
		-webkit-transform: translate3d(76.2%, 0, 0);
		-moz-transform: translate3d(76.2%, 0, 0);
		-ms-transform: translate3d(76.2%, 0, 0);
		-o-transform: translate3d(76.2%, 0, 0);
		transform: translate3d(76.2%, 0px, 0px);
		width: 38%;

		.off-canvas-menu-container > ul {max-width:none;}
	}
	.move-left .right-off-canvas-menu {right:-9.6%;}
	.move-left > .inner-wrap {
		-ms-transform: translate(-39%, 0);
		-webkit-transform: translate3d(-39%, 0, 0);
		-moz-transform: translate3d(-39%, 0, 0);
		-ms-transform: translate3d(-39%, 0, 0);
		-o-transform: translate3d(-39%, 0, 0);
		transform: translate3d(-39%, 0, 0);
	}
}
.dc-chart {
	g.row {
		text {
			fill: black;
		}
	}
}